django==1.7.8
django-tastypie==0.14.1
celery==4.1.0
django-celery==3.2.2
django-extensions==2.0.6
bitarray==0.8.1
pyyaml==3.12
simplejson==3.13.2
networkx==1.10
futures==3.2.0
argparse
requests==2.18.4
pymongo==3.6.1
sqlalchemy==1.2.6
gunicorn==19.7.1
cryptography==2.8
fabric==1.14.0
